<div style="margin-left: 1em; margin-right: 1em;">
  <div style="display: flex; flex-direction: row; margin-bottom: 1em;">
    <img src="https://s3.somewhere.over/the-rainbow/static/c.png"><div style="margin-top: 5px; margin-left: 0.8em;">Connecte une app</div>
  </div>
  <div style="display: flex; flex-direction: row; margin-bottom: 1em;">
    <img src="https://s3.somewhere.over/the-rainbow/static/c.png"><div style="margin-top: 5px; margin-left: 0.8em;">Gagne tes premiers POI</div>
  </div>
  <div style="display: flex; flex-direction: row; margin-bottom: 1em;">
    <img src="https://s3.somewhere.over/the-rainbow/static/u.png"><div style="margin-top: 5px; margin-left: 0.8em;">Ajoute un路e ami路e</div>
  </div>
  <div style="display: flex; flex-direction: row; margin-bottom: 1em;">
    <img src="https://s3.somewhere.over/the-rainbow/static/u.png"><div style="margin-top: 5px; margin-left: 0.8em;">D茅fie un路e ami路e</div>
  </div>
  <div style="margin: 0.5em; margin-top: 0.5em; margin-bottom: 0em; margin-right: 0;">
    L'impact, c'est mieux  deux !  Maintenant, partage Poi  tes ami路e路s pour continuer ton apprentissage !
  </div>
</div>
